.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  contain: layout;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacer-1);
  border: 1px solid var(--color-gray-lightest);
  box-shadow: 0px 2px 4px var(--color-box-shadow);
  contain: layout;
  background-color: var(--color-white);
}

.card__image {
  border: 1px solid var(--color-gray-lightest);
  object-fit: cover;
  max-width: 100%;
  max-height: 150px;
}

.card__description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
