/* ----- dialog.css ----- */
dialog::backdrop {
  background-color: var(--color-dark);
  opacity: 0.9;
  /* background-image: url("https://source.unsplash.com/random/?digital"); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
