.header {
  display: grid;
  place-items: center;

  color: var(--color-white);
  text-shadow: 1px 2px 4px hsl(0 0% 0% / 0.25);

  /* background-image: url("https://source.unsplash.com/random/1500x500/?digital"); */
  /* background-image: url("https://source.unsplash.com/random/1200x600/?atlanta"); */
  /* background-image: url("images/header.jpg"); */
  background-image: url("images/atlanta-made-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(3px); */

  background-position: center center;

  background-color: var(--color-primary);

  background-blend-mode: normal;
  /* background-blend-mode: color-dodge; */
  /* background-blend-mode: color-burn; */
  /* background-blend-mode: overlay; */
  /* background-blend-mode: luminosity; */
  /* background-blend-mode: hard-light; */
  background-blend-mode: soft-light;
  /* background-blend-mode: multiply; */
  /* background-blend-mode: difference; */
  /* background-blend-mode: hue; */
  /* background-blend-mode: color; */
}

.header__title {
  /* font-size: var(--fs-h1); */
  line-height: 1.25;
  & a {
    text-decoration: none;
    color: var(--color-white);
  }
}

.header__tagline {
  line-height: 1.25;
}

.header__title--accent-text {
  color: var(--color-accent-primary);
}
