.nav {
  background-color: var(--color-dark);
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__link {
  display: inline-block;
  padding: 1em;
  color: var(--color-gray-lightest);
  font-size: var(--fs-small);
  font-weight: var(--fw-light);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.nav__link--active {
  background-color: var(--color-gray-lightest);
  color: var(--color-dark);
}

.nav__link:hover {
  background-color: var(--color-gray-lightest);
  color: var(--color-dark);
}
