.search {
  display: flex;

  flex-wrap: wrap;
}

.search__button {
  background-color: var(--color-dark);
  padding: 1em 2em;
  font-family: inherit;
  font-size: var(--fs-small);
  font-weight: var(--fw-light);

  color: var(--color-white);
  border-color: var(--color-dark);
  transition: boder 0.1s ease-in-out;
}

.search__button:hover,
.search__button:focus {
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-dark);
}

.search__input {
  flex: 1 0 max-content;
  padding: 0.5em 1.25em;
  border: none;
  font: inherit;
  border: 1px solid var(--color-lightest);
}
