*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-base);
  line-height: var(--line-height-body);
  background-color: var(--color-gray-lightest);
  color: var(--color-dark);
}

.parent-grid {
  display: grid;
  grid-template-rows: minmax(350px, auto) auto 1fr auto;
  min-height: 100vh;
}

:any-link:not(.nav__link) {
  color: var(--color-primary);
}

:any-link:hover {
  text-decoration-color: var(--color-accent-primary);
  text-decoration-thickness: 2px;
}

h1,
h2,
h3,
h4 {
  line-height: var(--line-height-headings);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-light);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}
