/* ----- utilities.css ----- */

/* Use to set proportional vertical rhythm */
.flow-content > * {
  margin: 0;
}

.flow-content > * + * {
  margin-top: var(--spacer-1);
}

/* Use to constrain width of main content areas */
.container {
  margin: 0 auto;
  width: 99vw;
  max-width: 1250px;
  contain: layout;
}
